/*****************************************************/
/* GENERAL SETTINGS */
/* GENERAL SETTINGS */
/* GENERAL SETTINGS */
/*****************************************************/

@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --light-wine: #ddcdd3;
  --pink: #ffafcc;
  --wine: #c2628f;
  --dark-wine: #841551;
  --dark-blue: #0e0c76;
  --blue: #2b40ba;
  --light-blue: #e3eaff;
  --grey: #7271ad;
  --dark: #04072e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inria Sans", sans-serif;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

ul,
menu,
nav {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button:hover,
a:hover {
  cursor: pointer;
}

body {
  background-color: var(--light-blue);
}

/*****************************************************/
/* HOME STYLE */
/* HOME STYLE */
/* HOME STYLE */
/*****************************************************/

/*****************************************************/
/* HEADER */
/*****************************************************/

.home-header {
  margin-bottom: 3rem;
  margin: 2rem 0;
}

.home-title {
  font-family: "Zeyada", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: var(--dark-blue);
}

.home-main {
  width: 85vw;
  max-width: 950px;
}

.home-main > h2 {
  color: var(--dark-wine);
}

.champions-list {
  margin: 2rem 0;
  color: var(--blue);
  font-weight: bolder;
}

/*****************************************************/
/* FOOTER */
/*****************************************************/

footer {
  position: absolute;
  bottom: 0;
  padding: 3rem 0;
  color: var(--dark-wine);
  font-weight: bold;
}
